.ui.container.main.text
	.header
		Add Map
	.content
		.ui.form
			= form_for [feature, brick], html:{ class: "ui form" } do |b|
				= b.hidden_field :brick_type, value: "map"
				#editor.ui.grid
					.field.eight.column.wide
						= b.label :configuration, "Embed Code"
						- if brick.configuration
							= b.text_area :configuration, name: "brick[configuration][map_html]", "v-model"=>"input", "debounce" => "300", value: brick.configuration["map_html"]
						- else
							= b.text_area :configuration, name: "brick[configuration][map_html]", "v-model"=>"input", "debounce" => "300"
				= b.submit "Go", class: "fluid ui green button center"