.ui.container.main.text
	.header
		Add Narrative
	.content
		.ui.form
			= form_for [feature, brick], html:{ class: "ui form" } do |b|
				= b.hidden_field :brick_type, value: "narrative"
				#editor.ui.form
					.field
						= b.label :configuration, "Body"
						- if brick.configuration
							= b.text_area :configuration, name: "brick[configuration][body]", "v-model"=>"input", value: brick.configuration["body"]
						- else
							= b.text_area :configuration, name: "brick[configuration][body]", "v-model"=>"input", "debounce" => "300"
					%div{"v-html" => "input | marked"}
				= b.submit "Go", class: "fluid ui green button center"